<h1 class="content-title"> Categorias </h1>

<table class="category-images">
	<tr>
		<td><%= link_to image_tag("humanas.png"), questions_humanas_path %></td>     
		<td><%= link_to image_tag("natureza.png"), questions_natureza_path %></td>
		<td><%= link_to image_tag("linguagens.png"), questions_linguagens_path %></td>
	</tr>
	<tr>
		<td><%= link_to image_tag("matematica.png"), questions_matematica_path %></td>
		<td><%= link_to image_tag("todas.png"),questions_all_path %></td>
	</tr>
</table>