<h1 class="content-title"> Categorias </h1>

<table class="category-images">
	<tr>
		<td><%= link_to image_tag("humanas.png"), questions_humans_path %></td>
		<td><%= link_to image_tag("natureza.png"), questions_nature_path %></td>
		<td><%= link_to image_tag("linguagens.png"), questions_languages_path %></td>
	</tr>
	<tr>
		<td><%= link_to image_tag("matematica.png"), questions_math_path %></td>
		<td><%= link_to image_tag("todas.png"), questions_all_path %></td>
        <td><%= link_to image_tag("sugeridas.png"), questions_recommended_path %></td>
	</tr>
</table>