<h1> Categorias </h1>

<p><%= link_to "Ciências da Natureza", questions_natureza_path %></p>
<p><%= link_to "Ciências Humanas", questions_humanas_path %></p>
<p><%= link_to "Códigos e Linguagens", questions_linguagens_path %></p>
<p><%= link_to "Matemática", questions_matematica_path %></p>
<p><%= link_to "Todas as questões", questions_all_path %></p>