<h1> Lista de Questões </h1>

<% if current_user.is_admin? %>
	<%= link_to 'Criar Questão', new_question_path %>
<% end %>

<% if !@questions.blank? %>
	<table class='question-index'>
		<tr>
			<th>id</th>
			<th>Ano</th>
			<th>Número</th>
			<th>Área</th>
			<th>Enunciado</th>
			<th>Imagem</th>
		</tr>

		<% @questions.each do |t| %>
			<tr>
				<td><%= link_to t.id, "/questions/#{t.id}" %></td>
				<td><%= t.year %></td>
				<td><%= t.number %></td>
				<td><%= t.area %></td>
				<td><%= t.enunciation %></td>
				<td>
					<% if not t.image.blank? %>
						yes
					<% else %>
						no
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h3> There are no questions to show right now. :( </h3>
<% end %>