<h1> Lista de Questões </h1>

<% if current_user.role_admin? %>
	<%= link_to 'Novas Questões', new_question_path, class: "btn btn-success"  %>
<% end %>

<% if !@questions.blank? %>
	<table class='table'>
		<thead>
			<th>Ano</th>
			<th>Número</th>
			<th>Área</th>
			<th>Enunciado</th>
		</thead>

		<% @questions.each do |t| %>
			<tr>
				<td class="align-center"><%= t.year %></td>
				<td class="align-center"><%= link_to t.number, "/questions/#{t.id}" %></td>
				<td><%= t.area %></td>
				<td><%= truncate(t.enunciation, length: 180, separator: ' ') %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h3> Não há questões cadastradas no momento. </h3>
<% end %>