<h1 class="border-title">Upload de Dados</h1>

<div class="content-container">
  <div class="upload-forms-container">
    <%= form_tag({ action: :upload_questions }, multipart: true, class: 'upload-form',
                   id: 'questions-form') do %>
      <h2 class="form-title">Questões em JSON</h2>
      <span class="btn btn-default btn-file">
        Browse<%= file_field_tag 'questions_file' %>
      </span>
      <%= submit_tag 'Enviar', class: 'btn btn-primary btn-sm' %>
    <% end %>

    <%= form_tag({ action: :upload_candidates_data }, multipart: true, class: 'upload-form', id: 'candidates-data-form') do %>
      <h2 class="form-title">Dados dos candidatos do Enem</h2>
      <%= select_tag :test_year, options_for_select((2009..2012).to_a.collect { |x| x.to_s }), class: 'form-control' %>
      <span class="btn btn-default btn-file">
        Browse<%= file_field_tag 'candidates_data_file' %>
      </span>
      <%= submit_tag 'Enviar', class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
</div>
