<div class="buttons-questions">
  <% if current_user.role_admin? %>
    <%= link_to "Editar", edit_question_path, class: "btn btn-primary", id: "btn-edit" %>
    <%= link_to "Deletar", question_path, :method => :delete, class: "btn btn-danger", id: "btn-delete" %>
  <% end %>
</div>

<div class="question">
  <h1>Questão <%= @question.number %></h1>
  <h2>Ano: <%= @question.year %></h2>

  <div class='question-index'>
    <p><%= @question.area %></p>
  </div>

  <p class="question"><%= @question.enunciation %></p>


  <%= form_tag answer_question_path, remote: true do %>
    <% @question.alternatives.each do |f| %>
      <div class="alternative">
        <%= radio_button_tag(:alternative, f.letter) %>
        <%= label_tag(f.letter.to_s, f.letter.to_s + ")") %>
        <span class="<%= f.letter.to_s %>-description"><%= f.description %></span>
      </div>
    <% end %>

    <%= submit_tag "Responder", class: 'btn btn-primary btn-sm button' %>
    <%= link_to "Pular", "#", class: 'btn btn-primary btn-sm button', id: 'jump-btn' %>

  <% end %>
</div>
