<h1>Question <%= @question.number %></h1>
<h2>Year: <%= @question.year %></h2>

<% if current_user.is_admin? %>
  <%= link_to "edit", edit_question_path %>
  <%= link_to "delete", question_path, :method => :delete %>
<% end %>

<table class='question-index'>
  <tr>
    <td>Questão <%= @question.number %> - Ano <%= @question.year %></td>
  </tr>
  <tr><td>Area: <%= @question.area %></td></tr>
</table>

<p class="question"><%= @question.enunciation %></p>

<%= form_tag answer_question_path, remote: true do %>

  <% @question.alternatives.each do |f| %>
      <div class="alternative">
        <% unless current_user.accepted_questions.include? @question.id %>
          <%= radio_button_tag(:alternative, f.letter) %>
        <% end %>
        <%= f.letter %>)
        <%= label_tag(f.letter.to_s, f.description) %>
      </div>
  <% end %>

  <%= submit_tag "Responder", class: 'btn btn-primary btn-sm button', id: 'answer-btn' %>
  <%= link_to "Pular", "#", class: 'btn btn-primary btn-sm button', id: 'jump-btn' %>

<% end %>