<h1>Question <%= @question.number %></h1>
<h2>Year: <%= @question.year %></h2>

<% if current_user.is_admin? %>
  <%= link_to "edit", edit_question_path %>
  <%= link_to "delete", question_path, :method => :delete %>
<% end %>

<table class='question-index'>
  <tr>
    <td>Questão <%= @question.number %> - Ano <%= @question.year %></td>
  </tr>
  <tr><td>Area: <%= @question.area %></td></tr>
</table>

<p><h4><%= @question.enunciation %></h4></p>

<%= form_tag answer_question_path do %>

  <% @question.alternatives.each do |f| %>
    <p>
      <td><%= radio_button_tag(:alternative, f.letter) %></td>
      <td><%= f.letter %>) <%= label_tag(f.letter.to_s, f.description) %></td>
    </p>
  <% end %>

  <%= submit_tag "Answer" %>

<% end %>