<h1 class="content-title">Enem Amigo</h1>

<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:<%= current_user.progress %>%" style="height:20%">
    <strong><%= current_user.progress %>% completo</strong>
  </div>
</div>

<div class="options-container">
  <div class="user-options">
    <%= link_to image_tag("perfil.png", class: 'img-responsive custom-img'), current_user %>
    <%= link_to image_tag("questoes.png", class: 'img-responsive custom-img'), questions_path %>
    <%= link_to image_tag("ranking.png", class: 'img-responsive custom-img'), ranking_path %>
  </div>
</div>