<h1>Log in</h1>

<% provide(:title, "Log in") %>

<% if logged_in? %>
  <h1> Already logged as <%= current_user.name %></h1>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
  <%= form_for(:session, url: login_path, html: { class: 'login' }) do |f| %>
    <%= f.label :email%>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.submit "Login", class: "btn btn-primary" %>
  <% end %>
  <p id="new-user">New user? <%= link_to "Sign up", signup_path %></p>
<% end %>