<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        O registro contém <%= pluralize(@user.errors.count, "erro", "erros") %>
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :nickname, "Nome de Usuário" %>
  <%= f.text_field :nickname, class: 'form-control' %>
  <%= f.label :name, "Nome Completo" %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :email, "E-mail" %>
  <%= f.text_field :email, class: 'form-control' %>
  <%= f.label :password, "Senha" %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation, "Confirmar senha" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.submit "Criar", class: 'btn btn-primary' %>
<% end %>

