<h1>User: <%= @user.name %></h1>

<% if current_user.is_admin? || current_user.id == @user.id %>
  <%= link_to "Editar", edit_user_path %>
  <%= link_to "Excluir", user_path, :method => :delete %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user.level %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Accepted Questions: <%= @user.accepted_questions.count %></strong>
  <table>
    <thead>
      <th>Número</th>
      <th>Área</th>
      <th>Ano</th>
    </thead>
    <% @user.accepted_questions.each do |a| %>
      <% accepted = Question.find(a) %>
      <tbody>
        <td><%= link_to "#{accepted.number}", "/questions/#{a}" %></td>
        <td><%= accepted.area %></td>
        <td><%= accepted.year %></td>
      </tbody>
    <% end %>
  </table>
</p>
