<h1>Medalhas</h1>

<% if @new_medals.count > 0 %>
  <%= render partial: 'new_medal' %>
<% end %>

<% if current_user.medals.count > 0 %>
  <p>Medalhas Conquistadas</p>

  <div class="row">
    <% current_user.medals.each do |medal| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" id="user_medals">
          <%= image_tag medal.image %>
          <p class="medal_name">
            <b><%= medal.name %></b>
          </p>
          <p class="medal_description">
            <%= medal.description %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @missing_medals.count > 0 %>
  <p>Outras Medalhas</p>

  <div class="row">
    <% @missing_medals.each do |medal| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" id="missing_medals">
          <%= image_tag medal.image %>
          <p class="medal_name">
             ??????????
          </p>
          <p class="medal_description">
            <%= medal.description %>
          </p>
          <p>
            <%= message(medal) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

<% end %>