<h1> Batalhas </h1>

<% unless @battles.blank? %>
  <table class='table'>
    <thead>
      <th class="align-center">Status</th>
      <th class="align-center"></th>
      <th class="align-center">Jogador 1</th>
      <th class="align-center">Jogador 2</th>
    </thead>

    <% @battles.each do |t| %>
      <tr>
        <% if t.all_played? %>
          <td class="align-center"><%= 'Finalizada' %></td>
          <td class="align-center"><%= link_to 'Ver Resultado', "/battles/#{t.id}/result" , class: "btn btn-info" %></td>
        <% else %>
          <% if player_started?(t) %>
            <td class="align-center"><%= 'Esperando outro jogador' %>
          <% else %>
            <td class="align-center"><%= 'Pendente' %>
          <% end %>
          <td class="align-center">
          <% unless player_started?(t) %>
            <%= link_to '', "/battles/#{t.id}", class: "btn btn-success glyphicon glyphicon-ok" %>
          <% else %>
            <%= link_to '', "/battles/#{t.id}/finish", class: "btn btn-default glyphicon glyphicon-stats" %>
          <% end %>
            <%= link_to '', battle_path(t), :method => :delete, class: "btn btn-danger glyphicon glyphicon-remove", id: "btn-delete" %>
          </td>
        <% end %>
        <td class="align-center"><%= t.player_1.name %></td>
        <td class="align-center"><%= t.player_2.name %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3> Você não participou de nenhuma batalha </h3>
<% end %>


<p>
  <%= link_to 'Nova Batalha', "/battles/new", class: "btn btn-success" %>
</p>