<div class="question">
  <h1>Questão <%= @question.number%></h1>
  <h2>Ano: <%= @question.year %></h2>

  <div class='question-index'>
    <p><%= @question.area %></p>
  </div>

  <p class="question-text"><%= @question.text unless @question.text.nil? %></p>
  <% unless @question.image.empty? %>
    <%= image_tag(@question.image , class: 'img-responsive question-img') %>
  <% end %>

  <p class="question-text-reference"><%= @question.reference unless @question.reference.nil? %></p>

  <p class="question"><%= @question.enunciation %></p>
  <% @question.alternatives.each do |f| %>
    <div class="alternative">
      <%= radio_button_tag(:"alternative_#{@question.id}", f.letter) %>
      <%= label_tag(f.letter.to_s, f.letter.to_s + ")") %>
      <%= f.description %>
    </div>
  <% end %>
</div>
