<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag("enem-amigo.png", alt: "Logo"),
              root_path %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Início", root_path %></li>
        <% if current_user && current_user.role_admin? %>
          <li><%= link_to "Usuários", users_path %></li>
        <% end %>
        <% if logged_in? %>
          <li><%= link_to "Questões", questions_path %></li>
          <li><%= link_to "Batalha", battles_path %></li>
          <li><%= link_to "Prova", select_exam_path %></li>
          <li><%= link_to "Fórum", topics_path %></li>
          <li><%= link_to "Ranking", ranking_path %></li>

          <li class="dropdown">
            <a id="notification-dropdown" href="#" class="dropdown-toggle btn" data-toggle="dropdown">
            Notificações
            <% if current_user.notifications.where(visualized: false).count != 0 %>
              <span class="badge" id="notification-counter"><%= current_user.notifications.where(visualized: false).count %>
            <% end %> </span> <b class="caret"></b>
            </a>
            <ul id="notification-list" class="dropdown-menu">
              <% @current_user.notifications.reverse.take(10).each do |notification| %>
                <li><%= link_to truncate(notification.message, length: 50, separator: ' '), notification.link %></li>
              <% end %>
              <li class="divider"></li>
              <li>
              <%= link_to 'Ver mais', notifications_path %>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">
            Minha Conta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Editar meu perfil", edit_user_path(current_user) %></li>
              <% if current_user.role_admin? %>
                <li><%= link_to "Upload", questions_upload_path %></li>
              <% end %>
              <li class="divider"></li>
              <li>
              <%= link_to 'Sair', logout_path, method: 'delete' %>
              </li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Cadastre-se", signup_path %></li>
        <% end %>
      </ul>

    </nav>
  </div>

</header>

<script>
    $(function() {
      $("#notification-dropdown").click(function(evt) {
        $.ajax("/notifications/read");
        $("#notification-counter").hide();
        evt.preventDefault();
      })
    })
</script>
