<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
  <% end %>

  <div class="row">
    <% if logged_in? %>
      <%= render 'users/profile_sidebar' %>
      <div class="col-md-9 content">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>


</body>
</html>